{% extends 'base.html.twig' %}

{% block title %}WordleMonde - Devinez un lieu ! {% endblock %}

{% block body %}
    {% include('component/_navbar.html.twig') %}
    {% include('component/_flash.html.twig') %}
    <div id="invalid-word" class="alert alert-warning text-center d-none">Ce mot n'existe pas dans Wikipedia !</div>
    <div class="container mt-3">
        {% if is_vip %}
            <div class="vip-badge">
                ⭐ VIP MODE ⭐
            </div>
        {% endif %}
        <h2 class="game-title">Devinez le lieu du jour</h2>
        {% include('component/_matrice.html.twig') %}
        {% include('component/_keyboard.html.twig') %}
        <div class="row">
            <div class="col-12 text-center" id="victory">
                <div class="alert alert-success">
                    Bien joué !
                </div>
                <div id="copy-me">WordleMonde du jour <br> @WordleMonde <span id="is-vip">{{ is_vip ? '⭐ VIP MODE ⭐' : '' }}</span></div>
                <button class="btn btn-primary" role="button" id="copy-button">Copier pour partager !</button>
            </div>
            <div class="col-12 text-center" id="defeat">
                <div class="alert alert-danger">
                    <div id="copy-me-defeat">WordleMonde du jour <br> @WordleMonde</div>
                    C'est raté pour aujourd'hui ! Le mot était <span id="word-client">{{ word.content }}</span>
                </div>
            </div>
        </div>
    </div>
    {% include('/component/_help_modal.html.twig') %}
    {% include('/component/_info_modal.html.twig') %}
    {% include('/component/_stats_modal.html.twig') %}
    {% include('/component/_vip_modal.html.twig') %}
    <span class="d-none" id="seconds">{{ seconds }}</span>

{% endblock %}
