.square {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
}

.keyboard-letter {
    width: 10vw;
    height: 30px;
    margin: 1px;
    border: 1px solid;
    text-align: center;
    border-radius: 4px;
    background-color: #3d2e2e;
    color: #fdffc9;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.suppr {
    color: red;
}
.enter {
    color: #00ff00;
}
.pressed {
    background-color: #fdffc9;
    color: #3d2e2e;
}
.blue {
    background-color: #3090E5;
    color: black;
    opacity: .3;
}
.yellow {
    background-color: #F7E138;
    color: black;
    opacity: 1;
}

.green {
    background-color: #83BA47;
    color: black;
    opacity: 1;
}
#victory {
    display: none;
}

#session-color {
    display: none;
}

#defeat {
    display: none;
}

.line, .line-session {
    display: flex;
    justify-content: center;
    align-items: center;
}
#invalid-word {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 50vw;
    z-index: 2;
}
.title-squares {
    max-width: 45vw;
}
.title-squares > .square {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
}
.navbar > div > .icon-nav {
    width: 15px;
}
.cursor-pointer {
    cursor: pointer;
}

.fa-coffee {
    color: #6f4e37;
}

.fa-twitter {
    color: #1DA1F2;
}

/* Animations */
.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/* Pyro */
.heart-solid {
    font-weight: 900;
    color: #E0245E;
}

.circleBlock {
    height: 1.5rem;
    cursor: pointer;
    width: 2rem;
}

.pyro > .before {
    display: block;
    position: relative;
    z-index:1;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: -12px -21.66667px blue, 24px -1.66667px #00ff84, 19px -1.33333px #002bff, -11px -30.66667px #ff009d, -10px -28.66667px #ffb300, -5px -31.66667px #ff006e, 26px -3.66667px #ff4000, 18px -35.66667px #ff00d0, -1px -33.66667px #00f6ff, 22px -38.66667px #99ff00, -6px -2.66667px #ff0400, -11px -33.66667px #6200ff, 15px -23.66667px #00ddff, -15px -38.66667px #00ffd0, -5px -3.66667px #00ffdd, -9px -17.66667px #a6ff00, -8px -1.33333px #0d00ff, 11px -30.66667px #005eff, 6px -41.66667px #ff00a6, 16px -10.66667px #ff004c, -24px -2.33333px #ff6600, 9px -32.66667px #ff0066, -21px -18.66667px #00ffa2, 23px -12.66667px #b700ff, 14px -19.66667px #9000ff, 12px -17.66667px #00bbff, 11px -38.66667px #ff002f, 14px -11.66667px #ffae00, 3px -7.66667px #f600ff, -6px -19.66667px #c800ff, -21px -22.66667px #d4ff00, -13px -37.66667px #ea00ff, -3px -41.66667px #ff00d4, 20px -10.66667px #00fff2, 9px -27.66667px #000dff, -2px -19.66667px #9dff00, 13px -39.66667px #a6ff00, 5px -2.66667px #0099ff, -15px -27.66667px #ea00ff, -16px -23.66667px #00fffb, -23px -36.66667px #00ff73, 6px -36.66667px #0088ff, 24px -17.66667px #0062ff, 22px -14.66667px #b300ff, 14px -20.66667px #9000ff, 21px -25.66667px #ff6600, 11px -18.66667px #1e00ff, 9px -12.66667px #c800ff, 18px -10.33333px #00ffc8, -1px -33.66667px #00ff33, 10px -6.66667px #ff008c;
    animation: 1s bang ease-out 1, gravity 1s ease-in 1;

}

@keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}
@keyframes gravity {
    to {
        transform: translateY(40px);
        opacity: 0;
    }
}


.blink-bulb  {
    animation: blink-bulb 20s infinite;
    transition: none;
    animation-delay: 30s;
}

@keyframes blink-bulb {
    10%   { color: #FFF59E; box-shadow: 2px 5px 39px 3px yellow;  }
    13%   { color: white; box-shadow: none }
    17%   {color: #FFF59E; box-shadow: 2px 5px 39px 3px yellow; }
    20%   { color: white; box-shadow: none }
}
