{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert text-center alert-{{ label }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
