<div class="modal fade" id="help-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Aide</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 class="">Qu'est ce que c'est ?</h3>
                WordleMonde est basé sur le célèbre <a href="https://www.powerlanguage.co.uk/wordle/" target="_blank">Wordle</a>, dont vous pouvez trouver une version quotidienne française
                <a href="https://wordle.louan.me/">ici</a> et <a href="https://sutom.nocle.fr/" target="_blank">là</a>.
                <br>
                <strong>Un seul mot par jour / Tout le monde a le même mot</strong>
                <br>
                La particularité de WordleMonde est que le mot à deviner est un lieu géographique.
                <br>
                <h3 class="mt-3">Comment jouer ?</h3>
                Écrivez un mot et découvrez si vos lettres sont existantes dans le mot du jour et correctement placées.
                <br>
                Attention, vous ne pouvez écrire uniquement des mots (noms communs ou noms propres) qui existent. L'application se connecte à Wikipedia pour vérifier l'orthographe de vos essais !
                <br>
                Le nombre de lettres peut varier selon le mot à deviner. Mais vous n'aurez toujours que 6 essais !
                <br>
                Et si vous voulez en découvrir un autre orienté géographie et original (basé sur la forme du pays) : <a
                        href="https://worldle.teuteuf.fr" target="_blank">Worldle</a>
            </div>
        </div>
    </div>
</div>
