<div class="modal fade" id="info-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Infos</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span><i class="fab fa-twitter fs-2 me-2 mt-2"></i></span>
                Suivez <a href="https://twitter.com/WordleMonde/" target="_blank">@WordleMonde</a> sur Twitter !
                <br>
                <span><i class="fas fa-globe-americas fs-2 me-2 mt-2"></i></span>
                L'application web WordleMonde est développée pour le plaisir par <a href="https://twitter.com/GuillaumeHarari/" target="_blank">Guillaume HARARI</a>
                <br>
                <i class="fas fa-cookie-bite fs-2 me-2 mt-2"></i> Elle est garantie sans cookies traceur ni publicité ni paiement. Et ça le restera.
                <br>
                <i class="fas fa-code fs-2 me-2 mt-2"></i> Le code source est disponible <a href="https://github.com/guillaumebdx/worldle" target="_blank">ici</a>
                <br>
                <i class="fas fa-coffee fs-2 me-2 mt-2"></i> Et si vous voulez dire merci, vous pouvez me payer un café <a href="https://ko-fi.com/guillaumeharari" target="_blank">ici ! </a> (Pour vous remercier, vous recevrez un lien pour faire un mot de plus par jour !)
            </div>
        </div>
    </div>
</div>
