<div class="square {{ in_working_colors[i -1] is defined ? in_working_colors[i -1][loop.index -1] : '' }}" >
    <span class="heart" id="square-{{ i }}-{{ loop.index }}">{{ in_working_lines[i -1] is defined ? in_working_lines[i -1][loop.index -1] : '' }}</span>
    <div class="before"></div>
</div>
