<nav class="navbar navbar-dark bg-dark d-flex justify-content-between">
    <div class="d-flex">
        <div class="square text-white ms-3 cursor-pointer icon-nav" data-bs-toggle="modal" data-bs-target="#help-modal">
            <span title="Aide"><i class="fas fa-question"></i></span>
        </div>
        <div class="square text-white ms-3 cursor-pointer icon-nav" data-bs-toggle="modal" data-bs-target="#stats-modal">
            <span><i class="fas fa-chart-bar"></i></span>
        </div>
    </div>
    <div class="word-container d-flex justify-content-center title-squares">
        <div class="text-white" >
            <h1>W O R D L E</h1>
        </div>
        <div class="square green " >
            <span><i class="fas fa-globe-americas"></i></span>
        </div>
    </div>
    <div class="d-flex">
        <div class="square text-warning cursor-pointer" data-bs-toggle="modal" data-bs-target="#vip-modal">
            <span title="VIP"><i class="blink-bulb fas fa-star"></i></span>
        </div>
        <div class="square text-white me-3 cursor-pointer" data-bs-toggle="modal" data-bs-target="#info-modal">
            <span title="Informations"><i class="fas fa-lightbulb"></i></span>
        </div>
    </div>
</nav>
