<nav class="navbar navbar-dark bg-dark d-flex justify-content-between">
    <div class="d-flex">
        <div class="square text-white ms-3 cursor-pointer icon-nav" data-bs-toggle="modal" data-bs-target="#help-modal">
            <span title="Aide"><i class="fas fa-question"></i></span>
        </div>
        <div class="square text-white ms-3 cursor-pointer icon-nav" data-bs-toggle="modal" data-bs-target="#stats-modal">
            <span><i class="fas fa-chart-bar"></i></span>
        </div>
    </div>
    <div class="word-container d-flex justify-content-center title-squares">
        <div class="square green" >
            <span>W</span>
        </div>
        <div class="square text-white" >
            <span>O</span>
        </div>
        <div class="square green" >
            <span>R</span>
        </div>
        <div class="square text-white" >
            <span>D</span>
        </div>
        <div class="square green" >
            <span>L</span>
        </div>
        <div class="square text-white" >
            <span>E</span>
        </div>
        <div class="square green " >
            <span><i class="fas fa-globe-americas"></i></span>
        </div>
    </div>
    <div class="square text-white me-3 cursor-pointer" data-bs-toggle="modal" data-bs-target="#info-modal">
        <span title="Informations"><i class="blink-bulb fas fa-lightbulb"></i></span>
    </div>
</nav>
