<div class="modal fade" id="vip-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">V.I.P.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Devenez VIP ! <br>
                Pour jouer un lieu de plus par jour, faites à don du montant de votre choix à WordleMonde et recevez le lien ⭐ VIP MODE ⭐ !
                <div class="text-center mt-3">
                <a class="btn btn-primary" href="https://ko-fi.com/guillaumeharari" target="_blank">Je fais un don </a>
                </div>
            </div>
        </div>
    </div>
</div>
